<header class="header-6">
    <div class="branding">
        <a href="..." class="nav-link">
            <clr-icon shape="container-volume" class="is-inverse" ></clr-icon>
            <span class="title">Procurement Management System</span>
        </a>
    </div>
    <div class="header-nav">
        <a class="nav-link nav-text" routerLink="/home"  routerLinkActive="active" >Dashboard</a>
        <a class="nav-link nav-text" routerLink="/about"  routerLinkActive="active" >About</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>