<nav class="navbar navbar-light bg-light mb-3">
  <a class="navbar-brand" href="/">Procurement Management System</a>
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
    </li>
  </ul>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/SE3070-CSSE/csse-web-app" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</nav>