<h2 class="form-header">
  My Profile
</h2>

<div>
    <div class="row">
        <label for="emp_ID">Employee ID: </label>
        <label for="emp_ID" aria-haspopup="true"
        role="tooltip"
        >dc</label>  
        <!-- {{User.emp_ID}} -->
    </div>
    <div class="row">
        <label for="emp_type">Department: {{User.emp_type}}</label>
        <label for="emp_type" aria-haspopup="true"
        role="tooltip"
        >dc</label>  
    </div>
    <div class="row">
        <label for="firstname">First Name: {{User.firstname}}</label>
    </div>    
    <div class="row">
        <label for="lastname">Last Name: {{User.lastname}}</label>
    </div>    
    <div class="row">
        <label for="username">Username: {{User.username}}</label>
    </div>    
    <div class="row">
        <label for="address">Address: {{User.address}}</label>
    </div>    
    <div class="row">
        <label for="email">Email: {{User.email}}</label>
    </div>    
    <div class="row">
        <label for="phone">Contact Number: {{User.phone}}</label>
    </div>
    <div>
        
        <button type="button" class="btn btn-success" (click)="onEdit()"> Edit</button>
    </div>
</div>

<!-- Edit Modal -->
<clr-modal [(clrModalOpen)]="modalOpened">
    <h3 class="modal-title">Edit User Details</h3>
    <div class="modal-body">
        <form #usersForm="ngForm" (ngSubmit)="onSubmitEdited()" class="clr-form clr-form-horizontal">
            <section class="form-block">
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <label for="firstname"
                        aria-haspopup="true"
                        role="tooltip"
                        class="tooltip tooltip-validation tooltip-md"
                        [class.invalid]="firstnameInput.invalid && (firstnameInput.dirty || firstnameInput.touched)">
                        <input type="text" id="firstname" placeholder="Enter First name"
                            required
                            name="firstname"
                            [(ngModel)]="model.firstname"
                            #firstnameInput="ngModel">
                        <span class="tooltip-content">
                            First Name is Required.
                        </span>
                    </label>
                </div>

                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <label for="lastname"
                        aria-haspopup="true"
                        role="tooltip"
                        class="tooltip tooltip-validation tooltip-md"
                        [class.invalid]="lastnameInput.invalid && (lastnameInput.dirty || lastnameInput.touched)">
                        <input type="text" id="lastname" placeholder="Enter last name"
                            required
                            name="lastname"
                            [(ngModel)]="model.lastname"
                            #lastnameInput="ngModel">
                        <span class="tooltip-content">
                            Last Name is Required.
                        </span>
                    </label>
                </div>

                <div class="form-group">
                    <label for="address">Address</label>
                    <label for="address"
                        aria-haspopup="true"
                        role="tooltip"
                        class="tooltip tooltip-validation tooltip-md"
                        [class.invalid]="addressInput.invalid && (addressInput.dirty || addressInput.touched)">
                        <input type="text" id="address" placeholder="Enter Address"
                            required
                            name="address"
                            [(ngModel)]="model.address"
                            #addressInput="ngModel">
                        <span class="tooltip-content">
                            Address is Required.
                        </span>
                    </label>
                </div>

                <div class="form-group">
                    <label for="phone">Contact</label>
                    <label for="phone"
                        aria-haspopup="true"
                        role="tooltip"
                        class="tooltip tooltip-validation tooltip-md"
                        [class.invalid]="phoneInput.invalid && (phoneInput.dirty || phoneInput.touched)">
                        <input type="number" id="phone" placeholder="Enter Contact number"
                            required
                            pattern="[0-9]{10}"
                            name="phone"
                            [(ngModel)]="model.phone"
                            #phoneInput="ngModel">  
                        <span class="tooltip-content" *ngIf="phoneInput.hasError('required')">
                            Contact number is Required and must include only number
                        </span>
                    </label>
                </div>

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <label for="email"
                        aria-haspopup="true"
                        role="tooltip"
                        class="tooltip tooltip-validation tooltip-md"
                        [class.invalid]="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                        <input type="email" id="email" placeholder="Enter Email Address"
                            required
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                            name="email"
                            [(ngModel)]="model.email"
                            #emailInput="ngModel">  
                        <span class="tooltip-content" *ngIf="emailInput.hasError('required')">
                            Email Address is required and must be Valid
                        </span>
                    </label>
                </div>
                              
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="modalOpened = false">Cancel</button>
                    <button type="submit" class="btn btn-success" [disabled]="!usersForm.form.valid">Edit</button>
                </div>
            </section>
        </form>
    </div>
</clr-modal>
<!-- End Modal -->

<!-- Edit Modal -->
<clr-modal [(clrModalOpen)]="modalOpened">
    <h3 class="modal-title">Reset Password</h3>
    <div class="modal-body">
        <form #usersForm="ngForm" (ngSubmit)="onSubmitEdited()" class="clr-form clr-form-horizontal">
            <section class="form-block">
                <div class="form-group">
                    <label for="current">Current Passsword</label>
                    <label for="current"
                        aria-haspopup="true"
                        role="tooltip"
                        class="tooltip tooltip-validation tooltip-md"
                        [class.invalid]="currentInput.invalid && (currentInput.dirty || currentInput.touched)">
                        <input type="password" id="current" placeholder="Enter Current Passsword"
                            required
                            name="current"
                            [(ngModel)]="model.password"
                            #currentInput="ngModel">
                        <span class="tooltip-content">
                            Current Passsword is Required.
                        </span>
                    </label>
                </div>

                <!-- //new password -->
                <div class="form-group">
                    <label for="new">New Passsword</label>
                    <label for="new"
                        aria-haspopup="true"
                        role="tooltip"
                        class="tooltip tooltip-validation tooltip-md"
                        [class.invalid]="newInput.invalid && (newInput.dirty || newInput.touched)">
                        <input type="password" id="new" placeholder="Enter new password"
                            required
                            name="new"
                            [(ngModel)]="model.password"
                            #newInput="ngModel">
                        <span class="tooltip-content">
                            Input is Required.
                        </span>
                    </label>
                </div>

                <!-- //confirm password -->
                <div class="form-group">
                    <label for="confirm">Confirm Password</label>
                    <label for="confirm"
                        aria-haspopup="true"
                        role="tooltip"
                        class="tooltip tooltip-validation tooltip-md"
                        [class.invalid]="addressInput.invalid && (addressInput.dirty || addressInput.touched)">
                        <input type="password" id="confirm" placeholder="Confirm Passsword"
                            required
                            name="password"
                            [(ngModel)]="model.password"
                            #addressInput="ngModel">
                        <span class="tooltip-content">
                            Input is Required.
                        </span>
                    </label>
                </div>
  
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="modalOpened = false">Cancel</button>
                    <button type="submit" class="btn btn-success" [disabled]="!usersForm.form.valid">Submit</button>
                </div>
            </section>
        </form>
    </div>
</clr-modal>
<!-- End Modal -->