<!-- <div class="content-container">
  <main class="content-area">
      <h2>LOGIN</h2>
      <p>{{message}}</p>
      <p>
        <button (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
        <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
        <a [routerLink]="['/register']" class="btn btn-link">Register</a>
  </main>
</div> -->

<!-- 
<div class="login-wrapper">
  <form class="login" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <section class="title">
          <h3 class="welcome">Welcome to</h3>
          Procurement Management System          
      </section>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <input class="form-control" type="text" name="username" placeholder="Username" [(ngModel)]="model.username" #username="ngModel" required>
          <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <input class="form-control" type="text" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
      </div>

      <!-- <div class="form-group">
        <button [disabled]="loading" *ngIf="!AuthService.isLoggedIn" class="btn btn-primary">Login</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <button type="submit" *ngIf="!AuthService.isLoggedIn" class="btn btn-primary">Login</button> -->
        <!-- <button type="submit" *ngIf="!AuthService.isLoggedIn" class="btn btn-primary"> Login</button> -->
        <!-- <a [routerLink]="['/register']" class="btn btn-link">Register</a>
      </div> -->
              
<!--           
          <button type="submit" *ngIf="!authService.isLoggedIn" class="btn btn-primary">Login</button>
          <a ng href="https://csse-backend.herokuapp.com/users/signup" class="signup">Register</a>
      </div>
  
   -->
<!-- 
   <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Login</button>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    <a [routerLink]="['/Register']" class="btn btn-link">Register</a>
</div>

    </form>

</div> --> 

<!-- @Shannon : have to define isLoginError boolean 
  and create the validation logic to show the following-->

<!-- <div *ngIf="isLoginError" class="red-text center error-message">
    <i class="material-icons">error</i> Incorrect username or password
</div> -->

<form #loginForm="ngForm" class="col s12 white" (ngSubmit)="login()">
   <div class="row clr-justify-content-center">
     <div class="input-field col s12">
      <clr-icon shape="user"></clr-icon>
       <input type="text"
       #username 
       [(ngModel)]="user.username"
       [ngModelOptions]="{standalone: true}" 
       name="username" 
       placeholder="Username" 
       required>
     </div>
   </div>
   <div class="row clr-justify-content-center">
      <div class="input-field col s12">
        <clr-icon shape="lock"></clr-icon>
        <input type="password" 
        #password 
        [(ngModel)]="user.password"
        [ngModelOptions]="{standalone: true}" 
        name="password" 
        placeholder="Password" 
        required>
      </div>
    </div>
    <div class="row clr-justify-content-center">
        <div class="col s12">
          <button [disabled]="!loginForm.valid" class="btn btn-primary" type="submit">Login</button>
        </div>
      </div>
</form>

