<h2 class="form-header">
  Supplier database
</h2>

<!-- Loading spinner -->
<div style="text-align: center" *ngIf="!items">
  <span style="display: inline-block" class="spinner spinner-md">
    Loading...
  </span>
</div>
<!-- End Loading spinner -->
<!-- Edit Modal -->
<clr-modal [(clrModalOpen)]="modalOpened">
  <h3 class="modal-title">Edit supplier Details</h3>
  <div class="modal-body">
      <form #supplierForm="ngForm" (ngSubmit)="onSubmit()" class="clr-form clr-form-horizontal">
          <section class="form-block">
              <div class="form-group">
                  <label for="suppliername">Supplier Name</label>
                  <label for="suppliername"
                      aria-haspopup="true"
                      role="tooltip"
                      class="tooltip tooltip-validation tooltip-md"
                      [class.invalid]="supplierNameInput.invalid && (supplierNameInput.dirty || supplierNameInput.touched)">
                      <input type="text" id="suppliername" placeholder="Enter supplier name"
                          required
                          name="suppliername"
                          [(ngModel)]="model.suppliername"
                          #supplierNameInput="ngModel">
                      <span class="tooltip-content">
                          Supplier Name is Required.
                      </span>
                  </label>
              </div>
              <div class="form-group">
                  <label for="price">Price</label>
                  <label for="price"
                      aria-haspopup="true"
                      role="tooltip"
                      class="tooltip tooltip-validation tooltip-md"
                      [class.invalid]="itemPriceInput.invalid && (itemPriceInput.dirty || itemPriceInput.touched)">
                      <input type="text" id="price" placeholder="Enter item price"
                          required
                          pattern="^[0-9]*$"
                          name="price"
                          (keydown)="validateNumberKeyPress()"
                          [(ngModel)]="model.price"
                          #itemPriceInput="ngModel">  
                      <span class="tooltip-content" *ngIf="itemPriceInput.hasError('required')">
                          Item Price is Required and must be a number
                      </span>
                  </label>
              </div>
              <div class="form-group">    
                  <label for="itemCategory">Category</label>
                  <div class="select">
                      <select id="itemCategory" name="category" [(ngModel)]="model.category">
                          <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                      </select>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-outline" (click)="modalOpened = false">Cancel</button>
                  <button type="submit" class="btn btn-success" [disabled]="!itemForm.form.valid">Submit</button>
              </div>
          </section>
      </form>
  </div>
</clr-modal>
<!-- End Modal -->
