<!-- <div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !empid.valid }">
            <label for="empid">Employee ID</label>
            <input type="text" class="form-control" name="empid" [(ngModel)]="model.empid" #empid="ngModel" required />
            <div *ngIf="f.submitted && !empid.valid" class="help-block">Employee ID is required</div>
        </div>
        <div class="form-group">    
                <label for="emptype">Department</label>
                <div class="select">
                    <select id="emptype" name="emptype" [(ngModel)]="model.emptype">
                        <option *ngFor="emptype" [value]="emptype">{{emptype}}</option>
                    </select>
                </div>
        </div>
        
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
            <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
            <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email Address is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
            <label for="address">Address</label>
            <input type="text" class="form-control" name="address" [(ngModel)]="model.address" #address="ngModel" required />
            <div *ngIf="f.submitted && !address.valid" class="help-block">Address is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
            <label for="phone">Phone</label>
            <input type="number" class="form-control" name="phone" [(ngModel)]="model.phone" #phone="ngModel" required />
            <div *ngIf="f.submitted && !phone.valid" class="help-block">Contact number is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div> -->


<!-- TODO: add validation -->
<!-- <h2 class="form-header">
    Register
</h2>
<form #regsterForm="ngForm" (ngSubmit)="onSubmit(); registerForm.reset();" class="clr-form clr-form-horizontal">
    <section class="form-block">
        <div class="form-group">
            <label for="itemname">Item Name</label>
            <label for="itemname"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-md"
                [class.invalid]="itemNameInput.invalid && (itemNameInput.dirty || itemNameInput.touched)">
                <input type="text" id="itemname" placeholder="Enter item name"
                    required
                    name="itemName"
                    [(ngModel)]="model.itemName"
                    #itemNameInput="ngModel">
                <span class="tooltip-content">
                    Item Name is Required.
                </span>
            </label>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <label for="price"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-md"
                [class.invalid]="itemPriceInput.invalid && (itemPriceInput.dirty || itemPriceInput.touched)">
                <input type="text" id="price" placeholder="Enter item price"
                    required
                    pattern="^[0-9]*$"
                    name="price"
                    (keydown)="validateNumberKeyPress()"
                    [(ngModel)]="model.price"
                    #itemPriceInput="ngModel">  
                <span class="tooltip-content" *ngIf="itemPriceInput.hasError('required')">
                    Item Price is Required and must be a number
                </span>
            </label>
        </div>
        <div class="form-group">    
            <label for="itemCategory">Category</label>
            <div class="select">
                <select id="itemCategory" name="category" [(ngModel)]="model.category">
                    <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">    
            <label for="itemSupplier">Supplier</label>
            <div class="select">
                <select id="itemSupplier" name="supplier" [(ngModel)]="model.supplier">
                    <option *ngFor="let supplier of suppliers" [ngValue]="supplier">{{supplier.supplierName}}</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!itemForm.form.valid">Submit</button>
    </section>
</form> -->
<div class="container">
  <form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">

    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="emp_ID" #emp_ID="ngModel" [(ngModel)]="user.emp_ID">
        <label>Employee Number</label>
      </div>
      <div class="input-field col s6">
        <input type="text" name="emp_type" #emp_type="ngModel" [(ngModel)]="user.emp_type">
        <label>Department/ Role</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input class="validate" type="text" name="username" #username="ngModel" [(ngModel)]="user.username" required>
        <label data-error="Required field!">UserName</label>
      </div>
      <div class="input-field col s6">
        <input class="validate" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required minlength="6">
        <label [attr.data-error]="password.errors!=null?(password.errors.required?'Required field!':'Minimum 6 characters needed'):''">Password</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input class="validate" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" [pattern]="emailPattern">
        <label data-error="Invalid email!">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="firstname" #firstname="ngModel" [(ngModel)]="user.firstname">
        <label>First Name</label>
      </div>
      <div class="input-field col s6">
        <input type="text" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname">
        <label>Last Name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="address" #address="ngModel" [(ngModel)]="user.address">
        <label>Address</label>
      </div>
      <div class="input-field col s6">
        <input class="validate" type="number" name="phone" #phone="ngModel" [(ngModel)]="user.phone" [pattern]="[0-9]*$">
        <label>Contact Number</label>
      </div>
    </div>

    <!-- authorities -->

    <div class="row clr-justify-content-center">
      <div class="input-field col s12">
        <button [disabled]="!userRegistrationForm.valid" class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>