.width1 {
    width: 25%;
    min-width: 20%;
}

.text-align-center {
    text-align: center;
}

.request-view-btn {
    background-color: #ffffff;
    border: 1px solid #1674ab;
    cursor: pointer;
    color: #1674ab;
    font-size: 10px;
    font-weight: bold;
    padding: 0px 13px;
    text-decoration: none;
}
.request-view-btn:hover {
    background-color:#1674ab;
    color: #ffffff;
}