<nav class="subnav">
  <ul class="nav">
      <li class="nav-item">
          <a class="nav-link" routerLink="/home/items"  routerLinkActive="active">Items</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/home/payments"  routerLinkActive="active">Payments</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/home/suppliers"  routerLinkActive="active">Suppliers</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/home/employees"  routerLinkActive="active">Employees</a>
      </li>
  </ul>
</nav>
<div class="content-container">
  <main class="content-area">
      <router-outlet></router-outlet>
  </main>
</div>

